:root {
  --primary-color: #1a2c5b;
  --secondary-color: #3e4e88;
  --tertiary-color: #b8dff0;
  --quaternary-color: #7971ea;

  --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--primary-color);
}
h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: var(--quaternary-color);
  font-weight: 400;
}

h2 {
  color: var(--tertiary-color);
  font-style: italic;
  font-weight: 300;
}

h3 {
  color: var(--quaternary-color);
}
h4 {
  color: var(--tertiary-color);
}

img {
  border-radius: 3px;
  box-shadow: var(--box-shadow);
}
p {
  text-indent: 15px;
}
.navbar-background-color {
  background-color: var(--secondary-color);
}
.navbar-text {
  color: var(--tertiary-color);
}
.navbar-text:hover {
  color: var(--quaternary-color);
  transition: all 200ms ease-in-out;
}
.navbar-custom-icon {
  color: var(--tertiary-color);
}

.hero {
  background-color: var(--secondary-color);
  padding: 100px 0px 0px 30px;
  text-align: center;
}
.contact-me-hero {
  background-color: var(--primary-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  color: var(--tertiary-color);
  margin-top: 150px;
  margin-bottom: 25px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 30px 20px 30px;
  transition: all 200ms ease-in-out;
}
.contact-me-hero:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.story {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--tertiary-color);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  padding: 30px 30px;
  line-height: 40px;
}
.dialogue {
  text-indent: 40px;
}
.read-more-links {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: var(--quaternary-color);
  padding: 10px 10px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.read-more-links:hover {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}
.contact-title {
  margin-top: 100px;
}

.contact-details {
  margin-top: 200px;
  margin-bottom: 50px;
}
.info {
  text-align: center;
}
@media (max-width: 768px) {
  img {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .story {
    margin: 30px 5px 0px 5px;
  }
}
